.section__title {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: red;
    color: yellow;
}

.welcoming__pic {
    width: 100%;
    
}

body {
    font-family: arial;
    padding: 20px;
    background: #f1f1f1;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

#pic {
    height: 200px;
}

/*
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/

.section__authors {
    font-family: Arial;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

