
.welcoming__pic {
    width: 100%;
    
}

header {
    padding: 30px;
    display: middle;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

#pic {
    height: 200px;
}

/*
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/

.section__authors {
    font-family: Arial;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

