
/*
.welcoming__pic {
    
}
*/

.header {
    padding: 0;
    display: middle;
}

.section__authors {
    font-family: Arial;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

