
/*
.welcoming__pic {
    
}
*/

header {
    padding: 0;
    display: middle;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 1em;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.section__authors {
    font-family: Arial;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

